.titleContainer {
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}

.iconContainer {
    cursor: pointer;
}

.documentStyle {
    margin-right: 40px;
    display: flex;
    flex: 1;
}

.textContainer {
    width: 250px;
    padding: 15px;
    cursor: pointer;
    margin-top: 8px;
}